* {
    margin: 0 px;
    padding: 0px;
}

body {
    background-color: #003049;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #FFFFFA;
    height: 9rem;
    line-height: 6rem;
    font-weight: 900;
}

.choice {
    height: 165px;
    width: 165px;
    gap: 4rem;
    margin-top: 2rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: tranform 0.8s ease;
}

img {
    height: 120px;
    width: 120px;
    margin-left: 15px;
    margin-right: 6px;
    object-fit: cover;
    border-radius: 60%;
}

.scoreboard {
    color: #99e2b4;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-content: end;
}

.score {
    color: #FFFFFA;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    font-size: 1.5rem;
}

#messagedisplay {
    display: flex;
    background-color: #EAE2B7;
    color: #003049;
    height: 80px;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 2rem;
    font-size: 2rem;
}

#ys,
#cs {
    font-size: 2.5rem;
}

#fonts {
    font-size: 2rem;
}